# 动漫
## 七米蓝
[Default]
webdav_url = https://al.chirmyram.com/dav/ani/
username = alist
password = alist
output_path = Media/动漫/

[A]
webdav_url = https://al.chirmyram.com/dav/ani/A/

[B]
webdav_url = https://al.chirmyram.com/dav/ani/B/

[C]
webdav_url = https://al.chirmyram.com/dav/ani/C/

[D]
webdav_url = https://al.chirmyram.com/dav/ani/D/

[E]
webdav_url = https://al.chirmyram.com/dav/ani/E/

[F]
webdav_url = https://al.chirmyram.com/dav/ani/F/

[G]
webdav_url = https://al.chirmyram.com/dav/ani/G/

[H]
webdav_url = https://al.chirmyram.com/dav/ani/H/

[I]
webdav_url = https://al.chirmyram.com/dav/ani/I/

[J]
webdav_url = https://al.chirmyram.com/dav/ani/J/

[K]
webdav_url = https://al.chirmyram.com/dav/ani/K/

[L]
webdav_url = https://al.chirmyram.com/dav/ani/L/

[M]
webdav_url = https://al.chirmyram.com/dav/ani/M/

[N]
webdav_url = https://al.chirmyram.com/dav/ani/N/

[O]
webdav_url = https://al.chirmyram.com/dav/ani/O/

[P]
webdav_url = https://al.chirmyram.com/dav/ani/P/

[Q]
webdav_url = https://al.chirmyram.com/dav/ani/Q/

[R]
webdav_url = https://al.chirmyram.com/dav/ani/R/

[S]
webdav_url = https://al.chirmyram.com/dav/ani/S/

[T]
webdav_url = https://al.chirmyram.com/dav/ani/T/

[U]
webdav_url = https://al.chirmyram.com/dav/ani/U/

[V]
webdav_url = https://al.chirmyram.com/dav/ani/V/

[W]
webdav_url = https://al.chirmyram.com/dav/ani/W/

[X]
webdav_url = https://al.chirmyram.com/dav/ani/X/

[Y]
webdav_url = https://al.chirmyram.com/dav/ani/Y/

[Z]
webdav_url = https://al.chirmyram.com/dav/ani/Z/