Settings:
  DEV: False                          # Developer mode (optional, default False)

Alist2StrmList:
  - id: Anime                         # Identifier ID
    cron: 0 20 * * *                  # Background scheduled task Crontab expression
    url: https://alist.akimio.top     # Alist server address
    username: admin                   # Alist username
    password: adminadmin              # Alist password
    source_dir: /ani/                 # Directory path on Alist server
    target_dir: D:\media\             # Output path
    flatten_mode: False               # Flatten mode; when enabled, subtitle, image, nfo are forcibly turned off (optional, default False)
    subtitle: False                   # Whether to download subtitle files (optional, default False)
    image: False                      # Whether to download image files (optional, default False)
    nfo: False                        # Whether to download .nfo files (optional, default False)
    mode: AlistURL                    # Content in .strm files (options: AlistURL, RawURL, AlistPath)
    overwrite: False                  # Overwrite mode; whether to regenerate/download the file when a file with the same name exists locally (optional, default False)
    sync_server: True                 # Synchronize with the server (delete obsolete .strm files) (optional, default True)
    other_ext:                        # Custom download extensions, separated by commas (optional, default empty)
    max_workers: 50                   # Maximum concurrency to reduce the load on the Alist server (optional, default 50)
    max_downloaders: 5                # Maximum number of simultaneous file downloads (optional, default 5)

  - id: Movies
    cron: 0 0 7 * *                   # Background scheduled task Crontab expression
    url: http://alist.example2.com:5244
    username: alist
    password: alist
    source_dir: /Drive/115/Movies     # Directory path on Alist server
    target_dir: /media/my_video       # Output path
    flatten_mode: False 
    subtitle: False
    image: False
    nfo: False
    mode: RawURL
    overwrite: False
    sync_server: True
    other_ext: zip,md
    max_workers: 5

Ani2AlistList:
  - id: New Anime Updates             # Identifier ID
    cron: 20 12 * * *                 # Background scheduled task Crontab expression
    url: https://127.0.0.1:5244       # Alist server address
    username: admin                   # Alist username (requires administrator privileges)
    password: myalist                 # Alist password
    target_dir: /Videos/Anime/New     # Alist storage path in the address tree; if the storage does not exist, it will be automatically created (optional, default /Anime)
    rss_update: False                 # Use RSS subscription to update the latest anime; when enabled, ignores the provided year and month (optional, default True)
    year: 2024                        # Anime season - year, supports only anime updated after 2019-1 (optional, default uses current date)
    month: 7                          # Anime season - month, supports only anime updated after 2019-1 (optional, default uses current date)
    src_domain: aniopen.an-i.workers.dev  # ANI Open project domain name (optional, default aniopen.an-i.workers.dev)
    rss_domain: api.ani.rip               # ANI Open project RSS subscription domain name (optional, default api.ani.rip)
