# 纪录片
## 七米蓝
[Default]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/
username = alist
password = alist
output_path = Meida/纪录片/BBC/

[BBC-A]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/A/

[BBC-B]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/B/

[BBC-C]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/C/

[BBC-D]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/D/

[BBC-E]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/E/

[BBC-F]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/F/

[BBC-G]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/G/

[BBC-H]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/H/

[BBC-I]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/I/

[BBC-J]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/J/

[BBC-K]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/K/

[BBC-L]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/L/

[BBC-M]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/M/

[BBC-N]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/N/

[BBC-O]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/O/

[BBC-P]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/P/

[BBC-Q]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/Q/

[BBC-R]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/R/

[BBC-S]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/S/

[BBC-T]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/T/

[BBC-U]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/U/

[BBC-V]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/V/

[BBC-W]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/W/

[BBC-X]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/X/

[BBC-Y]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/Y/

[BBC-Z]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/BBC/Z/

[国产]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/国产/
output_path = Meida/纪录片/国产/

[其他]
webdav_url = https://al.chirmyram.com/dav/mov/纪录片/其他/
output_path = Meida/纪录片/其他/