# 电影
## 七米蓝
[Default]
webdav_url = https://al.chirmyram.com/dav/mov/电影/
username = alist
password = alist
output_path = AutoFilm/电影/

[A]
webdav_url = https://al.chirmyram.com/dav/mov/电影/A/

[B]
webdav_url = https://al.chirmyram.com/dav/mov/电影/B/

[C]
webdav_url = https://al.chirmyram.com/dav/mov/电影/C/

[D]
webdav_url = https://al.chirmyram.com/dav/mov/电影/D/

[E]
webdav_url = https://al.chirmyram.com/dav/mov/电影/E/

[F]
webdav_url = https://al.chirmyram.com/dav/mov/电影/F/

[G]
webdav_url = https://al.chirmyram.com/dav/mov/电影/G/

[H]
webdav_url = https://al.chirmyram.com/dav/mov/电影/H/

[I]
webdav_url = https://al.chirmyram.com/dav/mov/电影/I/

[J]
webdav_url = https://al.chirmyram.com/dav/mov/电影/J/

[K]
webdav_url = https://al.chirmyram.com/dav/mov/电影/K/

[L]
webdav_url = https://al.chirmyram.com/dav/mov/电影/L/

[M]
webdav_url = https://al.chirmyram.com/dav/mov/电影/M/

[N]
webdav_url = https://al.chirmyram.com/dav/mov/电影/N/

[O]
webdav_url = https://al.chirmyram.com/dav/mov/电影/O/

[P]
webdav_url = https://al.chirmyram.com/dav/mov/电影/P/

[Q]
webdav_url = https://al.chirmyram.com/dav/mov/电影/Q/

[R]
webdav_url = https://al.chirmyram.com/dav/mov/电影/R/

[S]
webdav_url = https://al.chirmyram.com/dav/mov/电影/S/

[T]
webdav_url = https://al.chirmyram.com/dav/mov/电影/T/

[U]
webdav_url = https://al.chirmyram.com/dav/mov/电影/U/

[V]
webdav_url = https://al.chirmyram.com/dav/mov/电影/V/

[W]
webdav_url = https://al.chirmyram.com/dav/mov/电影/W/

[X]
webdav_url = https://al.chirmyram.com/dav/mov/电影/X/

[Y]
webdav_url = https://al.chirmyram.com/dav/mov/电影/Y/

[Z]
webdav_url = https://al.chirmyram.com/dav/mov/电影/Z/

[合集]
webdav_url = https://al.chirmyram.com/dav/mov/电影/合集/
output_path = AutoFilm/电影/合集/